.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  border-radius: 10px;
  background-color: #d3d3d3;
}

.form-wrapper h2 {
  margin: 0;
}
